.cart_header {
  text-align: center;
  margin-top: 25px;
}
.heading_hr {
  margin: 15px;
}
.cart_container {
  display: flex;
  gap: 20px;
}
.item_container {
  width: 65%;
  margin: 20px;
}
.summary_section {
  width: 35%;
  margin: 20px;
  background-color: rgb(240, 248, 248);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.product_details_header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-weight: bold;
}
.product_detail_header {
  grid-column-start: 2;
}
.product_detail_container {
  position: relative;
  background-color: rgb(240, 248, 248);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  /* margin: 0 25px; */
}
.product_details {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-weight: bold;
  height: 45px;
  align-items: center;
}
.product_details h3 {
  grid-column-start: 2;
}
.product_img {
  position: absolute;
  left: 40px;
}
.product_quantity {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.product_quantity input {
  width: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.product_quantity button {
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.remove_icon {
  position: absolute;
  cursor: pointer;
  right: -5px;
  top: -5px;
  color: red;
}
.summary_section h3 {
  text-align: center;
  margin: 10px;
}
.summary_container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.summary_titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.summary_btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 15px;
}
.summary_btn_group button {
  padding: 10px 15px;
  color: white;
  background-color: var(--secondary-color);
  font-weight: 600;
  cursor: pointer;
}
.summary_btn_group button:hover {
  box-shadow: 0 4px 8px rgba(252, 252, 252, 0.1);
}

/* Styles for Extra Small devices */
@media (max-width: 576px) {
  .product_details_header {
    font-size: 12px;
  }
  .product_details h3 {
    font-weight: 600;
    font-size: 10px;
  }
  .product_quantity {
    gap: 2px;
  }
  .product_quantity input {
    width: 25px;
  }
  .product_quantity button {
    padding: 3px 6px;
  }
}

/* Styles for Small devices */
@media (max-width: 767px) {
  .cart_container {
    display: block;
    margin: 0 auto;
  }
  .item_container {
    width: 95%;
    margin: 0 auto;
  }
  .summary_section {
    width: 95%;
    margin: 30px auto;
  }
  .product_img {
    left: 0;
  }
  .product_details {
    font-weight: lighter;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  /* Add your CSS rules here */
}
/* Styles for Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  .cart_container {
    gap: 10px;
  }
  .item_container {
    margin: 10px;
  }
  .summary_section {
    margin: 10px;
  }
  .product_img {
    left: 5px;
  }
}
