:root {
  --primary-color: #00abe4;
  --secondary-color: #e7f0fa;
  --accent-color: #f5faff;
  --text-color: #1e365b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
.card {
  padding: 5px;
}
.global_padding {
  padding: 10px 20px;
}
.global_padding_x {
  padding: 0px 20px;
}
.global_padding_y {
  padding: 0px 20px;
}
.custom-scrollbar-hide::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.custom-scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent;
}
body {
  list-style: none;
  overflow-x: hidden;
  /* background: rgb(11, 11, 11); */
  background-color: var(--accent-color);
}
ul {
  list-style: none;
}
button {
  border: none;
  border-radius: 5px;
  background-color: gray;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Styles for Extra Small devices */
@media (max-width: 576px) {
  .global_padding {
    padding: 10px 10px;
  }
  .global_padding_x {
    padding: 0px 10px;
  }
  .global_padding_y {
    padding: 0px 10px;
  }
}

/* Styles for Small devices */
@media (min-width: 576px) and (max-width: 768px) {
  /* Add your CSS rules here */
}

/* Styles for Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  /* Add your CSS rules here */
}
