.featured_heading_section {
  margin: 0 10px;
}
.featured_heading {
  background-color: var(--secondary-color);
  display: inline-block;
  color: white;
  padding: 2px 40px 2px 8px;
  clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
}
.featured_hr {
  background-color: var(--secondary-color);
  border: none;
  height: 2px;
  margin-bottom: 10px;
}
.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(0, 0, 0);
}
.categories_container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.icon_container {
  position: relative;
}
.icon {
  font-size: 100px;
  cursor: pointer;
  color: rgb(83, 68, 68);
}
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(39, 35, 35);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.icon_container:hover .tooltip {
  visibility: visible;
}
.dream_pc_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: rgb(53, 51, 51);
  color: white;
  align-items: center;
  justify-content: center;
}
.dream_pc_description {
  text-align: center;
  padding: 20px;
}
.dream_pc_description h1 {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .cards_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .dream_pc_container {
    display: block;
    padding: 5px 10%;
  }
  .dream_pc_description {
    margin-bottom: 20px;
  }
}

/* Styles for Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
