.home_layout {
  display: flex;
}
.sidebar {
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  background-color: var(--secondary-color);
}
.content {
  width: 75%;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
}
.parallax_container {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Adjust the height as needed */
}

.parallax_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets//HD-wallpaper-pc-gamer.jpg");
  background-size: cover;
  background-position: center;
  transform: translateZ(0);
  z-index: -1;

  /* Parallax effect */
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.parallox_content {
  /* Style your content here */
  position: relative;
  z-index: 1;
  padding: 40px;
}

.featured_heading_section {
  margin: 0 10px;
}

.featured_heading {
  background-color: var(--secondary-color);
  display: inline-block;
  color: white;
  padding: 2px 40px 2px 8px;
  clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
}

.featured_hr {
  background-color: var(--secondary-color);
  border: none;
  height: 2px;
  margin-bottom: 10px;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.see_more_btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: var(--secondary-color);
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
.see_more_btn:hover {
  box-shadow: 0 2px 4px rgba(153, 152, 152, 0.2);
}
.categories_container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.icon_container {
  position: relative;
}
.icon {
  font-size: 70px;
  cursor: pointer;
  color: rgb(83, 68, 68);
}
.tooltip {
  visibility: hidden;
  width: 90px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  padding: 5px 0;
  top: 0;
  left: 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.icon_container:hover .tooltip {
  visibility: visible;
}
.dream_pc_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: rgb(53, 51, 51);
  color: white;
  align-items: center;
  justify-content: center;
}
.dream_pc_description {
  text-align: center;
  padding: 20px;
}
.dream_pc_description h1 {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .cards_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .dream_pc_container {
    display: block;
    padding: 5px 10%;
  }
  .dream_pc_description {
    margin-bottom: 20px;
  }
  .icon {
    font-size: 30px;
  }
  .categories_container {
    gap: 15px;
  }
  .tooltip {
    width: 50px;
    font-size: 7px;
  }
}

/* Styles for Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
