.category_section {
  background-color: var(--secondary-color);
  position: sticky;
  top: 40px;
  width: 100%;
  z-index: 99;
  margin-bottom: 20px;
}
.category_choose_option {
  display: none;
}
.categories_conatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
}

.category_container {
  transition: 0.2s;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.category_container:hover {
  background-color: gray;
}
.category_button {
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.category_button:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.empty_builder {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.builder_card_container {
  background-color: gray;
  padding: 15px;
}
.builder_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.complete_button {
  padding: 8px 15px;
  background-color: black;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  color: white;
  font-weight: bold;
}
.complete_button_disabled {
  background-color: rgb(113, 109, 109);
  cursor: default;
}
@media (min-width: 576px) and (max-width: 768px) {
  .categories_conatiner {
    top: 38px;
  }
  .builder_card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  .categories_conatiner {
    top: 38px;
  }
  .builder_card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .categories_conatiner {
    flex-direction: column;
    position: absolute;
    background-color: rgba(11, 10, 10, 0.665);
    width: 100%;
    z-index: -99;
    transition: 0.8s ease-in-out;
    margin-top: -100%;
  }
  .show_categories {
    margin-top: 0;
  }
  .category_choose_option {
    display: flex;
    background-color: var(--secondary-color);
    z-index: 99;
    color: white;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .category_wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .builder_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
