.nav_section {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-background-color);
  position: sticky;
  top: 0;
  transition: transform 150ms ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo_text {
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
}

.nav_list_container {
  display: flex;
  gap: 10px;
}

.nav_list_container li {
  font-weight: bold;
  padding: 5px;
  position: relative;
}

.nav_list_container .nav_item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 195, 255, 0.412);
  transition: width 0.5s ease-in-out;
}

.nav_list_container .nav_item:hover::after {
  width: 100%;
}

.category_list {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 10px;
  gap: 10px;
  font-size: 12px !important;
  width: 100%;
  left: 0;
  z-index: 9;
  background-color: var(--secondary-background-color);
}

.categories_container:hover .category_list {
  display: flex;
}
.ham_menu {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 21px;
  color: var(--heade-color);
  display: none;
}
.quantity {
  position: absolute;
  font-size: 15px;
  padding: 2px 3px;
  margin-left: -2px;
  color: var(--secondary-color);
}
.dropdown_wrapper {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.5);
  overflow-y: hidden;
}
.profile_dropdown_wrapper {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.home_cross_icons {
  display: none;
}
.profile_img {
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.profile_list {
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: -30px;
  font-size: 14px;
  padding: 10px;
  z-index: 999;
}
.profile_list ul {
  padding: 5px;
  cursor: pointer;
}
.responsive_cart {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 21px;
  color: var(--head-color);
  display: none;
}
@media (max-width: 992px) {
  .nav_container {
    flex-direction: column;
    margin: 0 auto;
    z-index: 999;
  }
  .cart {
    display: none;
  }
  .responsive_cart {
    display: block;
  }
  .dropdown_wrapper {
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.5);
  }
  .ham_menu {
    display: block;
  }
  .home_cross_icons {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 21px;
    margin-bottom: 15px;
  }
  .nav_list_container {
    position: fixed;
    background-color: var(--primary-background-color);
    flex-direction: column;
    height: 100%;
    left: 0;
    top: 0;
    width: 70%;
    padding: 10px;
    transition: 0.5s ease-in-out;
    z-index: 9999;
  }

  .category_list {
    display: none;
    text-align: center;
  }

  .categories_container:hover .category_list {
    display: block;
    margin-left: 0;
  }
  .hide_nav_bar {
    left: -100%;
  }
}
.footer_section {
  background-color: black;
  text-align: center;
  color: white;
  margin-top: 15px;
  padding: 10px;
}
.footer_section h5 {
  text-transform: uppercase;
  padding: 5px;
}
